In [51]:
#packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [52]:
#set object of both datasets
earlyYears = pd.read_csv('motor_data11-14lats.csv')
laterYears = pd.read_csv('motor_data14-2018.csv')

In [53]:
# Metadata, Need the metadata.csv
# Can delete not important
metadata = pd.read_csv('Metadata.csv')
metadata.head()

,S .N,Name,Type,Domain / Levels,Description / representation
0,1,Sex,categorical,"0, 1, 2","0 = legal entity, 1 = male,2 = female"
1,2,Season,categorical,"autumn, winter, spring, summer",Beginning of contract.
2,3,Insurance type,categorical,"1201, 1202, 1204","1201 = private, 1202 = commercial, 1204 = moto..."
3,4,Type vehicle,categorical,"pick-up, truck, bus, ...",Type of vehicle grouped into six categories.
4,5,Usage,categorical,"fare paying passengers, taxi, general cartage,...",A usual usage of the vehicle grouped into six ...

In [54]:
print(f'Early Years Dataset Features: {earlyYears.columns}')
print(f'Later Years Dataset Features: {laterYears.columns}')

Early Years Dataset Features: Index(['SEX', 'INSR_BEGIN', 'INSR_END', 'EFFECTIVE_YR', 'INSR_TYPE',
       'INSURED_VALUE', 'PREMIUM', 'OBJECT_ID', 'PROD_YEAR', 'SEATS_NUM',
       'CARRYING_CAPACITY', 'TYPE_VEHICLE', 'CCM_TON', 'MAKE', 'USAGE',
       'CLAIM_PAID'],
      dtype='object')
Later Years Dataset Features: Index(['SEX', 'INSR_BEGIN', 'INSR_END', 'EFFECTIVE_YR', 'INSR_TYPE',
       'INSURED_VALUE', 'PREMIUM', 'OBJECT_ID', 'PROD_YEAR', 'SEATS_NUM',
       'CARRYING_CAPACITY', 'TYPE_VEHICLE', 'CCM_TON', 'MAKE', 'USAGE',
       'CLAIM_PAID'],
      dtype='object')

In [55]:
combined = pd.concat([earlyYears, laterYears], join = 'outer')
combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 802036 entries, 0 to 508498
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SEX                802036 non-null  int64
 1   INSR_BEGIN         802036 non-null  object
 2   INSR_END           802036 non-null  object
 3   EFFECTIVE_YR       802032 non-null  object
 4   INSR_TYPE          802036 non-null  int64
 5   INSURED_VALUE      802036 non-null  float64
 6   PREMIUM            802015 non-null  float64
 7   OBJECT_ID          802036 non-null  int64
 8   PROD_YEAR          801867 non-null  float64
 9   SEATS_NUM          801801 non-null  float64
 10  CARRYING_CAPACITY  603837 non-null  float64
 11  TYPE_VEHICLE       802036 non-null  object
 12  CCM_TON            802028 non-null  float64
 13  MAKE               802031 non-null  object
 14  USAGE              802036 non-null  object
 15  CLAIM_PAID         60145 non-null   float64
dtypes: float64(7), int64(3), object(6)
memory usage: 104.0+ MB

In [56]:
combined.sample(10)

,SEX,INSR_BEGIN,INSR_END,EFFECTIVE_YR,INSR_TYPE,INSURED_VALUE,PREMIUM,OBJECT_ID,PROD_YEAR,SEATS_NUM,CARRYING_CAPACITY,TYPE_VEHICLE,CCM_TON,MAKE,USAGE,CLAIM_PAID
420464,2,30-AUG-17,29-AUG-18,16,1202,0.0,1803.00,5000953451,1988.0,11.0,0.0,Bus,2446.0,TOYOTA,Taxi,NaN
132101,0,27-DEC-12,26-DEC-13,11,1202,800000.0,7346.07,5000184483,2005.0,4.0,5.5,Pick-up,2835.0,MITSUBISHI,Own Goods,NaN
318135,1,01-APR-16,31-MAR-17,15,1202,0.0,364.20,5000732106,2012.0,3.0,3.0,Motor-cycle,200.0,BAJAJI,Taxi,NaN
231384,1,13-AUG-13,12-AUG-14,12,1202,450000.0,12999.55,5000357926,2009.0,14.0,0.0,Bus,2494.0,TOYOTA,Fare Paying Passengers,NaN
140184,0,03-JAN-13,02-JAN-14,12,1202,0.0,726.75,5000191818,1998.0,4.0,7.0,Pick-up,2400.0,TOYOTA,Own Goods,NaN
54974,0,07-JUL-14,06-JUL-15,94,1201,260000.0,3329.60,5000071683,2007.0,4.0,NaN,Automobile,1298.0,ABAY,Private,NaN
143461,1,27-JAN-17,26-JAN-18,47,1202,250000.0,11799.85,5000264262,1998.0,20.0,20.0,Bus,3636.0,ISUZU,Fare Paying Passengers,NaN
358836,0,08-JUL-17,07-JUL-18,15,1202,0.0,1830.55,5000825128,1990.0,2.0,50.0,Truck,3600.0,ORAL,Own Goods,NaN
202607,0,03-JUN-13,02-JUN-14,12,1202,595000.0,6120.94,5000311541,2011.0,2.0,35.0,Truck,3568.0,TATA,Own Goods,19390.66
395564,1,03-MAY-16,02-MAY-17,16,1202,0.0,347.70,5000900394,2015.0,3.0,0.0,Motor-cycle,200.0,BAJAJI,Fare Paying Passengers,NaN

In [57]:
# Show the null values
combined.isnull().sum()
# CLAIM_PAID null can be filled with 0's
# Carrying Capacity might need to be dropped

SEX                       0
INSR_BEGIN                0
INSR_END                  0
EFFECTIVE_YR              4
INSR_TYPE                 0
INSURED_VALUE             0
PREMIUM                  21
OBJECT_ID                 0
PROD_YEAR               169
SEATS_NUM               235
CARRYING_CAPACITY    198199
TYPE_VEHICLE              0
CCM_TON                   8
MAKE                      5
USAGE                     0
CLAIM_PAID           741891
dtype: int64

In [58]:
#replacing nan values with 0 to use
combined['CLAIM_PAID'] = combined['CLAIM_PAID'].replace({np.nan : 0})
#changing values using regex operators to be used in ML model
combined['EFFECTIVE_YR'] = combined['EFFECTIVE_YR'].replace(['/', '-', 'B', 'S', 'R', 'EN', 'MO', 'IN', 'SS', 'RS', 'SR', 'EA', 'BS', '4A', '1A', '1K', '1M', '2A', '1C', '6A', '5A', '3A', '5C', '7A'], np.nan, regex=True)
combined.sample(10)

,SEX,INSR_BEGIN,INSR_END,EFFECTIVE_YR,INSR_TYPE,INSURED_VALUE,PREMIUM,OBJECT_ID,PROD_YEAR,SEATS_NUM,CARRYING_CAPACITY,TYPE_VEHICLE,CCM_TON,MAKE,USAGE,CLAIM_PAID
204619,1,09-MAY-12,08-MAY-13,09,1201,0.00,221.600,5000293756,2011.0,1.0,NaN,Motor-cycle,100.0,BAJAJ,Private,0.0
129567,0,07-AUG-15,06-AUG-16,12,1202,397751.00,5858.510,5000229215,2006.0,4.0,6.2,Pick-up,3153.0,NISSAN,Own Goods,0.0
424290,1,31-OCT-17,30-OCT-18,16,1202,0.00,4514.500,5000964318,2014.0,2.0,0.0,Truck,8226.0,ISUZU,General Cartage,0.0
120867,0,22-JUL-15,21-JUL-16,80,1202,1060080.00,33092.200,5000204169,2010.0,2.0,63.0,Truck,8226.0,ISUZU,Own Goods,0.0
29777,0,08-JUL-11,07-JUL-12,95,1202,0.00,8444.059,5000037970,1982.0,99.0,99.0,Bus,8650.0,DAF,Fare Paying Passengers,2874.0
371784,0,07-AUG-15,06-AUG-16,12,1202,700000.00,5330.670,5000852627,2007.0,4.0,6.0,Pick-up,2494.0,TOYOTA,Own Goods,0.0
161288,0,07-AUG-17,06-AUG-18,16,1202,2300000.00,28037.050,5000349067,2012.0,58.0,0.0,Bus,9726.0,BISHOFTU,Own service,0.0
3671,0,08-JUL-15,07-JUL-16,01,1202,1145000.00,18983.710,5000019032,2000.0,1.0,400.0,Truck,12000.0,VOLVO,Own Goods,0.0
37987,0,08-JUL-13,07-JUL-14,11,1202,460000.00,6414.870,5000042941,1982.0,2.0,10.0,Pick-up,3000.0,TOYOTA,Own Goods,0.0
172438,0,01-JAN-12,31-DEC-12,41,1202,224570.44,4223.530,5000225119,2006.0,2.0,7.0,Pick-up,2400.0,TOYOTA,Own Goods,0.0

In [59]:
combined = combined.dropna()
combined.isnull().sum()

SEX                  0
INSR_BEGIN           0
INSR_END             0
EFFECTIVE_YR         0
INSR_TYPE            0
INSURED_VALUE        0
PREMIUM              0
OBJECT_ID            0
PROD_YEAR            0
SEATS_NUM            0
CARRYING_CAPACITY    0
TYPE_VEHICLE         0
CCM_TON              0
MAKE                 0
USAGE                0
CLAIM_PAID           0
dtype: int64

In [60]:
print(f"Unique Values in INSR_TYPE: \n {combined['INSR_TYPE'].unique()}")
print(f"Unique Values in TYPE_VEHICLE: \n{combined['TYPE_VEHICLE'].unique()}")
print(f"Unique Values in MAKE: \n{combined['MAKE'].unique()}")
print(f"Unique Values in USAGE: \n{combined['USAGE'].unique()}")

Unique Values in INSR_TYPE:
 [1202 1201 1204]
Unique Values in TYPE_VEHICLE:
['Pick-up' 'Truck' 'Bus' 'Tanker' 'Trailers and semitrailers' 'Automobile'
 'Motor-cycle' 'Tractor' 'Station Wagones' 'Special construction'
 'Trade plates']
Unique Values in MAKE:
['NISSAN' 'TOYOTA' 'IVECO' 'MITSUBISHI' 'FIAT' 'MARU' 'ISUZU' 'MERCEDES'
 'YAMAHA' 'MESFIN' 'CALABRASE' 'DAF' 'FARID' 'TRAILER' 'SINO' 'ISUSU'
 'HOWO' 'HIGHER' 'ZZ' 'ISUZU FVR' 'FORD' 'PEUGEOT' 'TOMSON' 'MERCEEDES'
 'DAEWOO' 'VIBERTI' 'CALABRESE' 'ROZA' 'JIEFANG' 'RENAULT' 'CRANE'
 'TURBO BUS' 'BISHOFTU' 'SCANIA' 'TRAKKER' 'SCHMITZ' 'NATFA' 'ROLFO'
 'INTERNATIONAL USE' 'MAZDA' 'NEW HOLLAND' 'NEW HOLAND' 'TURBO' 'MACK'
 'MTE' 'ORAL' 'DUNGFING' 'SUZUKI' 'HYUNDAI' 'NAMI' 'NISSAN UD' 'VOLVO'
 'HIGER BUS' 'AEOLUS' 'TATA' '330-30 TRA' 'EU. TRAILER' 'HINO' 'VERYCA'
 'AMBULANCE' 'ADGE' 'LOWBED' 'LADA' 'CHEVROLET' 'MERCEEDICE' 'CACCIAMALLI'
 'DAYUN' 'BELARUS' 'VOLKS WAGON' 'RANDON' 'GMC' 'CORDES'
 'HIGH BED TRAILER' 'KIA' '330-30 TRAILER' 'ILSBO' 'ASTRA' 'BARTOLETI'
 'FOTON' 'AUDI' 'INTERNATIONAL' 'LANDROVER' ' DONG FENG' 'SINO HOWO'
 'BOXER' 'BAJAJI' 'DAMAS' 'BMW' 'BELARUS TRACTOR' 'DAWOO' 'WHEEL LOADER'
 'VOLKSWAGON' 'MAHINDRA' 'TRUCK' 'OTOYOL' 'Volvo' 'PREGIO' 'DACIA'
 'JIN BEI' 'RAPID INTERVENSION' 'MAZ' 'ZORZI' 'ME' 'ETHIOPIA' 'HIGER'
 'GAME' 'MASSENZA' 'ATOZ' 'TVS' 'ZX-TOP' 'LAND CRUISER'
 'SUGERCANE TRAILER' 'STEYER' 'DATSUN' 'MERCHEDES' 'COMBI' 'LEXUS'
 'TRACTOR TRAILER' 'SOCOOL' 'JAC' 'LISBO' 'BAJAJ' 'ZEPPLIN' 'LIFAN' 'ABAY'
 'ZONGSHEN' 'T0Y0TA' 'CLASS' 'BRIDGE' 'M 29' 'SKY BUS' 'KAMAZ' 'KAMZ'
 'GRADER' 'EXCAVATOR' 'LOADER' 'DOZER' 'TRAKER' 'LAND ROVER' 'MINI BUS'
 'GEELY' 'MAHANDRA' 'PLATENA' 'CATERPILLAR' 'ARMORDE'
 'CHINA SPECIAL SEMI TRAILER' 'CATERPILLAR TRACTOR' 'ROLLER' 'VOLKSWAGEN'
 'S.T' 'S.T.TRAILER' 'AUTO' 'WINEGEL' 'P/UP' 'BEBEN SEMI TRAILER'
 'JOHN DEER' 'BELL TRACTOR' 'JOHNDEER' 'BELL' 'FAW' 'FOTTON'
 'RENAULT/STOLARCZYK' 'S.T TRA' 'S.T TR' 'S.T TRA.' 'HONDA' '330-30 TR'
 'MAN' 'MASSY FUREGUSON' 'SAMI' 'VITZ' 'RED FOX' 'CAT DOZER'
 'VIBRATION ROLLER' 'CACCAMALI' 'TRACTOR' 'ZMAY' 'CASE' 'VERCYA' 'KAT'
 'HONGYAN' 'DUNGFINF' 'FORCE' 'LANDINI' 'TALER'
 'DANDO GEATECH 7.5 HYDOLIC TOP ROTATYING' 'AFRO' 'GREAT WALL' 'VERSATILE'
 'POWER PLUS DOSER' 'POWER PLUS DOZER' 'NIO' 'WHEELL LOADER' 'WUCING'
 'TAXI' 'FORLAND' 'CHINA' 'DIAHATSU' 'CHANGHE' 'GORICA' 'LANJIAN'
 'EMGTAND' 'CAT' 'ZONGUSHEN' 'CORE DRILLING RING' '1982' 'PAGOT' 'STAYER'
 'SRAYER' 'CHANA' 'TECHALE' 'DANGIFAN' 'LONGJIANG' 'LOW BED' 'BRASIL'
 'IFA' 'SKODA' 'DUMPING CAR' 'CAMZ' 'ROLD' 'DUMPER CAR' 'WATERING CAR'
 'DORSEY' 'SPAIN' 'BAWER' 'CLASS COMBINE' 'REFREGERATOR' 'REFREGIRATOR'
 'RIG' 'GENLYON' 'MIXER' 'OPEL' 'PANEL VAN' 'KORANDO' 'ZOOM LION CRANE'
 'PLATEFORM' 'JEEP' 'YALE' 'ENGLAND TRACTOR' 'KATO' 'DONFING' 'ZHENG'
 'FIAT-OM' 'VOWS WAGEN' '1985' ' HERO' 'JAK' 'ZOYTE' 'MASIL FERGUSAN'
 'BACK LOADER' 'ADDIS GEELY' 'IVECO/CHINA' 'HAMVE' 'WAZ' 'KOREA'
 'SPECIAL BUS FOR TOW & MAINTENANCE' 'SPECIAL TRUCK FOR TOW & MAINTENANCE'
 'ZILE SHOPAN' 'ZTLTRUCK' 'WATER PUMP' 'V.W' 'ZIL' 'RAMP' 'TRATTORE'
 'PASSAT' 'ZOTYE' ' BEBIEN TANKER' 'GELION' 'BMC' '2011' 'BOX' 'LIZE'
 'INDOFARMO' 'SINALIKE' ' TRAKKER 380' 'KYRON' 'AIRCARGO MOBILE TRUCK'
 'KANIYO' 'LANCHA' 'GMS' 'SINO TRUCK' 'CO' 'UNKNOWN' 'SUNLONGBUS' 'RUSSIA'
 'EICHER' 'YOUNGMAN' 'KUTA' 'JMC' 'SUNLONG' 'SHACMAN' 'ZAMAJ' 'FPRD'
 'HOBGYANSTYER' 'CALBRESE' 'BISHEFTU' 'LITON' 'SHNAY'
 'CHINA SPECIAL POWER TRUCK' 'KING LONG' 'ZOBLE' 'CHARRY' 'YVS' 'JERMEN'
 'LONG JIANG' 'UD' 'CARENZI' 'RUSIA' 'CRAIN' 'CRAIN/TRUCK' 'KATO CRANE'
 'TRACTOR BELARUS' 'KATO CRAN' 'HAFREI' 'HAFEI RULY' 'DEUTZ FAHR'
 'COMATSU GRADER' 'KATO EXCAVATOR' 'TOYOTA PICK-UP' 'HOYGYAN' 'DUMP TRUCK'
 'MANITUD' 'SHANTU EXCAVATOR' 'RENALT' 'DUBI' 'BAYBEN TRUCK HIGHBED'
 'COROLLA' 'TANKER' 'SHANTU' 'LIBER DOZER' 'LIBER' 'JONDIR' 'GENLYONIVECO'
 'BEBEN' 'EURO TRUCKER' 'DONGFENG' 'TRACTOR 4WD' 'TRACTOR4WD' 'BUS'
 'MIDBUS' 'VAN TRUCK' 'ARTICULATED DUMP TRUCK' 'JAC DUMP' 'SONALIKA'
 'CRANE 60 TON' 'YOUTONG' 'ARTICULATED TRACTOR' 'HYSTER' 'BEL TRACTOR'
 'YUTONG' 'HUANGHA' 'KATO CRAIN' 'OHNDEERE' 'MOBILE CRANE' 'ZNA'
 'FRANKUN IVECO' 'HANVE' 'UAI' 'AU' 'CHENGLONG MOTOR OF CHINA' 'ZUNGSHUN'
 'IVECO/ASTRA' 'CO BUS' 'TOYOTA L/CRUISER' 'LONG BASE TRAILER' 'FORK LIFT'
 'CALDINESS FORK LIFTS' 'NISAN' 'BISHOFTU/FAW' 'CRANEXCMG' 'BISHOFTUKAMA'
 'FAWO WATER TRUCK' 'TELESCOPIC' 'ARTICULATED' 'APACHE' 'XCMG' 'DISCOVER'
 'CRANE ZUMLIN' 'CRANE ZUMLIN 70 TON' 'TAGRO' 'EUROSTAR'
 'TELESCOPIC HANDLER' 'ZIP STAR' 'GREDER' 'DIZER' 'CRANE ZOOMLION'
 'WHEEL EXCAVATOR' 'TELESCPIC HANDLER' 'TOWER CRANE ELECTRICAL' 'DOZERS'
 'UAE' 'CATO' 'ZUMLIN CRANE' 'MAMMUT' 'MIXCER' 'GROVE' 'MF5340' 'YTO'
 'ACHIVER' 'ACHIVE' 'VERSATILE TRACTOR' 'HANDLER FORCIFT'
 'HANDLER FORCLIFT' 'SINOTRUK' 'CARGO' 'SANY' 'LANOS' 'ZOOMLIN CRANE'
 'APACHE RTR' 'FORKLIFT' 'KOMATSU' 'GERMANY' 'DIMAG CRANE' 'JCB WORK MAX'
 'MOTOR CYCLE' 'MERCEDES/SANY' 'CAT EXCAVATOR' 'DEAWOO' 'HYDROLIC'
 'DIFENDER' 'DEAWOO USE' 'DAWWO' 'FORD CARGO' 'FORD CORGO' 'DSIT' 'PULSAR'
 'GELYION' 'RIO JAMES' 'RIO JAMES TRUCK PALLET'
 '3-AXEL DRAWBAR CARGO TRAILER' 'WATERWELL' 'MESIFIN' 'RENGE  ROVER'
 'DAHATSUN' 'VAN' 'KAINUO' '3-AXLE DRAWBAR CARGO TRAILER'
 'LIBERR MOBILECRANE' 'LIBERR MOBILE CRANE' 'LIEBERR MOBILE CRANE' '*'
 'POWER PLUSE TIPPER' 'SINOTRUCK' 'ITALY' 'ENGLAND' 'RENUALT'
 'LAND SCRAPER' 'HIGHBIN HIGHBAD' 'SCHACMAN' 'SEECOME' 'DAW BUS'
 'SINOTRUK HOWO' 'DONGFANG' 'PAWOR PLAS TIPPER' 'MOBILE GUARAGE' 'MIE'
 'KM.UAG' 'TOYOTA HILUX' 'HIGH BED' 'LOBED' 'HIGHBENCARGOTRAUCK'
 'HIGBAN HIGHBAD' 'BAYBEN HIGHBAD' 'BAYBEN HIGHBAD TRAILER'
 'POWER PLUS DAMP' 'KUBOTA' 'KAMA MINI TRUCK' 'TOYOTA P/UP' 'KIYA'
 'BEBEN HIGHBAD' 'SINO BISHOFTU' 'POWER PLUS TRUCK' 'LOBADE TRUCK'
 'LOBED TRAILER' 'YUTONG BUS' 'BISHOFTU PICK UP' 'RANGE ROVER' 'HERO'
 'CRANE TRUCK' 'POWER PLUS DAM TRUCK' 'DX' 'FORD TRUCK'
 'BISHOFTU P/UP D/CAB' 'ZALANGE' 'TOYOTA JAPAN' 'FAW/BISHOFTU'
 'TOYOTA REVO HILUX' 'URSUS' 'LOW LOADER SEMI-TRAILERS(AXEL WHEEL 12'
 'ARBE EMERET' 'HUYBED' 'YTO TRACTOR' 'CATERPLER' 'OZSAN TREYLER'
 'CANEHAULAGE' 'CRAWLER EXCAVATOR' 'AXION' 'HILUX' 'IVECO CRANE'
 'ISUZU NPRP' 'ALAMI' 'POWER PLUS DAM' 'WETER TRUCK STAYER'
 'POWRPLUS TRUCK' 'KAMA NINI TRUCK' 'BEYBEN TRUCK' 'SINO CRANE' 'ROLF'
 'ROLLER LUTONG' 'DAMPER' 'FORKLIFT SHANTU' 'EXCAVATOR XCMG' 'DISCOVERY'
 'KAMA LIGHT TRUCK' 'ROOLER POWERPOK' 'CRANELEBHER' 'CRANE LEBHERER' 'HH'
 'MAGIRUS-DEUTZ' 'LEBHER CRANE' 'LIBEHER CRANE' 'CRANE ZOOMLIION'
 'DOZER SHANTU' 'ROLER POWERPOK' 'EXCAVATOR JOYANG' 'LODER' 'AMI'
 'HIGHBED' 'URSUS TRACTOR URSUS TRACTOR' 'URSUS TRACTOR' 'PEUGEOUT'
 'EMGRAND' 'AGEL' 'LOADER POWERPLUS' 'CRANEZOOMLION' 'CRANE LEBEHER'
 'KAT TRAILER' 'JOHNDEER CAMECO/GRAP LOADER' 'DGOIX' 'FRANKUN' 'NKG ENG'
 'NAM' 'ASNAKE ENGINERING' 'H.H' 'ASNAKE ENGNERING' 'TOYOTA HIACE'
 'TRAILED TANKER WITH FIRE EXTINGUISHER'
 'TRAILED TANKKER WITH FIRE FIRE EXTINGUIS' 'FSR33' 'PEGO'
 'DUMP TRUCK DFAC' 'AUMAN' 'MITSUBUSHI' 'KG' 'FRANKON' 'FORD*' 'GENLION'
 'DFAC' 'UTONG' 'N2' 'OM' 'AREB EMERATE' 'KAT TRACTOR' 'SANIA' 'TALIAN'
 'COASTER' 'COASTER BUS' 'MINIBUS' 'WAFA' 'FRANKUN ET' 'LEABER CATO CRANE'
 'MAN TGS' 'TRACKS MOBILE DIMAGE CRANE' 'MISTIBUSH' 'NAMIE' 'DAMAS 2'
 'CHINA SELONG' 'TELESCOPIC FORKLIFT' 'LOW BED SEMITRAILER\n' 'GLEEY'
 'TELESCOPIK FORKLIFT' 'MINIBUS 3L' 'CHINA ZENGIZO'
 'CATERPILLAR FORKLIFTS' 'DOOSAN FORKLIFT' 'CATERPILLAR FORKLIFT'
 'CAT GRADER' 'KAMA' 'YOUTONG BUS' 'TCM FORKLIFTS' 'FORKLIFTS'
 '4WDTUAB TERES COPIC HANDLER' 'POWER PLUS' ' FORKLIFT' 'FAW WATER TRUCK'
 'KAMAMI' 'LOADER POERR PLUS' 'LOADER POWER PLUS' 'A'
 'BAYBEN FIRE FIGHTER' 'MERCEDES AXOR' 'YALCIN' 'ARSLAN' 'VALTRA TRACTOR'
 'SCRAPER' 'BMC FATIH' 'YOUTOGNMIDBUS' 'SANY PALFINGER STC250'
 'MERCEDES / 2521-48' 'SANY SY309C-8 MIXER' 'HYUNDAY' 'SANY CONCRETE'
 'MERCEDES ATEGO-KELES' 'LH202L' 'SANY PALFINGER STC750' 'AUTOBUS'
 'SANY PALFINGER STC500' '2 AXEL LOWBED' 'XERION TRACTOR'
 'SANY PALFINGER 23500B' 'XERION TARCTOR' 'FOED' 'HUMMER' 'URAL' 'URA'
 'LANDINI DT125' 'FOTON AUMAN' 'MERCEDES BENZ' 'SAL DA29 YARI TRAILER'
 'SAL LOWBED' 'ORAL CREAN' 'SCANIYA' 'MF' ' TOYOTA MINIBUS' 'FORD RANGER'
 'ORICLE CREAN' 'ATZ' 'DAIMLER BENZ' 'ROAD-ROLLER' 'INFINITIVE' 'ZX TOP'
 'ROAD-RPLLER' 'CHINA - BBN']
Unique Values in USAGE:
['Own Goods' 'General Cartage' 'Fare Paying Passengers' 'Taxi' 'Car Hires'
 'Private' 'Own service' 'Agricultural Own Farm' 'Special Construction'
 'Learnes' 'Ambulance' 'Agricultural Any Farm' 'Fire fighting' 'Others']

In [61]:
# This way of encoding may introduce issues such as overfitting

combined = pd.get_dummies(combined, columns=['INSR_TYPE', 'TYPE_VEHICLE', 'MAKE', 'USAGE'])
combined['EFFECTIVE_YR'] = combined['EFFECTIVE_YR'].astype(int)
object_columns = combined.select_dtypes(include=['object'])
print(object_columns.columns)

Index(['INSR_BEGIN', 'INSR_END'], dtype='object')

In [63]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import pandas as pd

# Model with dates
df = combined.drop(['CARRYING_CAPACITY', 'INSR_BEGIN', 'INSR_END', 'OBJECT_ID'], axis=1)

X = df.drop('PREMIUM', axis=1)
y = df['PREMIUM']
X_train, X_test, y_train, y_test,  = train_test_split(X, y, test_size=0.2 , random_state=100)

model = LinearRegression()

model.fit(X_train, y_train)

model.predict(X_test)

0.6208349248787273

In [65]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np


# Make predictions
y_pred = model.predict(X_test)

# Calculate MAE, MSE, R, and RMSE
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)  # Calculate RMSE from MSE

print(f"MAE: {mae}")
print(f"MSE: {mse}")
print(f"R-squared (R): {r2}")
print(f"RMSE: {rmse}")

MAE: 3874.589957978106
MSE: 48654280.5642557
R-squared (R): 0.6208349248787273
RMSE: 6975.262042694575

In [64]:
# Import necessary libraries
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

# Creating and training the Random Forest model
forest_model = RandomForestRegressor(random_state=42)
forest_model.fit(X_train, y_train)

Random Forest R-squared score: 0.8373370314985582

In [66]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Assuming 'model' is your trained regression model and 'X_test', 'y_test' are your test data

# Make predictions
y_pred = forest_model.predict(X_test)

# Calculate MAE, MSE, R, and RMSE
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)  # Calculate RMSE from MSE

print(f"MAE: {mae}")
print(f"MSE: {mse}")
print(f"R-squared (R): {r2}")
print(f"RMSE: {rmse}")

MAE: 1738.196554049574
MSE: 20872834.093046494
R-squared (R): 0.8373370314985582
RMSE: 4568.679688164459